.app {
    text-align: center;
 
    /* margin: 0 200px 0 200px; */
    margin-left: 285px;
  }
  
  .app-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .app-header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  @media (max-width: 768px) {
    .app-header h1 {
      font-size: 1.5rem;
    }
  }
  